<div id="<%= dom_id film %>">
  <p>
    <strong>Title:</strong>
    <%= film.title %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= film.summary %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= film.image %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= film.rating %>
  </p>

</div>
