
<div id="<%= dom_id film %>" class="carte-film">
  <img src="<%= film.image %>" alt="image du film" width="100%">
  <div class="info-carte-film">
  <h2>
    <%= film.title %>
  </h2>

  <h3>
    <strong>Summary:</strong>
  </h3>
  <p>
  <%= film.summary[0..250]%>...
  </p>


  <%= link_to "Show this film", film, class:'btn btn-show' %>
  </div>
</div>
