
<div id="<%= dom_id film %>" class="carte-film">
  <h2>
    <%# <strong>Title:</strong> %>
    <%= film.title %>
  </h2>

  <h4>
    <strong>Summary:</strong>
  </h4>
  <p>
  <%= film.summary[0..250]%>...
  </p>

  <p>
    <%# <strong>Image:</strong> %>
    <img src="<%= film.image %>" alt="image du film" width="100%">
  </p>

  <p>
    <strong>Rating:</strong>
    <%= film.rating %>
  </p>

  <p class="btn btn-primary">
    <%= link_to "Show this film", film %>
  </p>
</div>
