
<div id="<%= dom_id film %>" class="carte-film">
  <p>
    <strong>Title:</strong>
    <%= film.title %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= film.summary %>
  </p>

  <p>
    <%# <strong>Image:</strong> %>
    <img src="<%= film.image %>" alt="image du film" width="100%">
  </p>

  <p>
    <strong>Rating:</strong>
    <%= film.rating %>
  </p>

  <% <p class="btn btn-primary a-link"> %>
    <%= link_to "Show this film", film %>
  <% </p> %>
</div>
