<%= simple_form_for(film) do |form| %>

  <% if film.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
        <% film.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :title %>
  <%= form.input :summary %>
  <%= form.input :image %>
  <%= form.input :review %>

  <%# <div class="btn btn-primary"> %>
    <%= form.submit %>
  </div>
<% end %>
