<h1><%= @film.title %></h1>

  <h4>
    <strong>Summary:</strong>
  </h4>
  <p>
  <%= @film.summary[0..250]%>...
  </p>

  <p>
    <%# <strong>Image:</strong> %>
    <img src="<%= @film.image %>" alt="image du film" width="50%">
  </p>

  <p>
    <strong>Review:</strong>
    <%= @film.review%>
  </p>


<div>
  <%= link_to "Edit this film", edit_film_path(@film) %> |
  <%= link_to "Back to films", films_path %>

  <%= button_to "Destroy this film", @film, method: :delete %>
</div>
