<!DOCTYPE html>
<html>
  <head>
    <title>Blogywood</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "header" %>
    <%= stylesheet_link_tag "film" %>
    <%= stylesheet_link_tag "show" %>


  </head>

  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between m-4 navbar">
    <a href="/" class="d-flex p-4 text-dark text-decoration-none logo">
      <h1>Blogywood</h1>
    </a>

    <%# <ul class="nav col-12 col-md-auto mb-2 mb-md-0">

      <a class="nav-item nav-link active nav-couleur-liens home" href="/">Home <span class="sr-only">(current)</span></a>
      <li><a href="contacts" class="nav-link px-2 nav-couleur-liens home">Contacts</a></li>
    </ul> %>


    <div class="col-md-3 text-end">
      <%= link_to "Home", films_path, class:'btn' %>
      <%= link_to "New film", new_film_path, class:'btn' %>
    </div>
  </header>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>

  <div class="container">
  <footer class="py-3 my-4">

    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-link px-2 text-muted p a-link">
        <a href="https://www.linkedin.com/in/lo%C3%AFc-l-259a00215/">Loïc Leforestier</a>
      </li>

      <li class="nav-link px-2 text-muted p a-link">
        <a href="https://www.linkedin.com/in/tristan-r-6a754924b/">Tristan Rebeyrol</a>
      </li>
    </ul>

  </footer>
</div>
</html>
